# dependencies
/node_modules
/.pnp
.pnp.js

# my personal notes
TO-DO.md

# testing
/coverage

# production
/build

# my personal notes
todo.md

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
