.cost-list-container {
  display: flex;
  flex-direction: column;
}

.cost-list-categories{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}

.price-pulldown {
  margin-bottom: 10px;
}